
.resume{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px
}


img {

    padding: 20px;
    transition: 0.5s;

}

.resume:hover{
    transform: scale(1.05);

}

h1{
    text-align: center;
    padding:60px 30px;
    font-size: 80px;
    font-weight: 600;
}